header {
  margin-left: 90px;
  margin-right: 235px;
  width: 80vw;
}

nav {
  font-size: 20px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

    a {
      color: #fff;
    }
  }
}

#logo {
  font-size: 50px;
  font-weight: bold;
}

.category {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#login {
  margin-right: 20px;
}

@media (max-width: 600px) {
  body {
    box-sizing: border-box;
    display: block;
  }
  header {
    width: 85vw;
    margin: 10px;

    nav,
    ul {
      margin: 0px;
    }
  }

  .category {
    width: 120px;
    display: flex;
    flex-wrap: wrap;
  }
}
