header {
  margin: 10px 90px;
  padding: 1rem;
}

nav {
  font-size: 20px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

    a {
      color: #fff;
    }
  }
}

#logo {
  font-size: 50px;
  font-weight: bold;
}

.category {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
